## --- Configurações do Banco de Dados (Postgres) ---
# Usado tanto pelo container do banco quanto pelo Airflow para se conectar
DB_USER=postgres
DB_PASS=postgres
DB_HOST=postgres
DB_PORT=5432

## --- Banco de Metadados do Airflow ---
# Este é o banco definido em POSTGRES_DB no seu YAML
DB_NAME=airflow_db

## --- Banco do Projeto NYC Taxi ---
# Este é o banco que você criou no init-db.sql
PROJECT_DB=nyc_yellow_taxi

## --- Configurações do Airflow (Metadados e Sistema) ---

# Interface e Logs
AIRFLOW__WEBSERVER__SHOW_WELCOME_MODAL=False
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
# Desativa o modal de boas-vindas para ser mais direto
AIRFLOW__WEBSERVER__SHOW_WELCOME_MODAL=False